{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    
    <div>
        <h7 class="" style="color: rgb(143, 160, 184); font-size: medium;">Welcome to the future of NFTs</h7>
        <h8 class="" style="color: rgb(143, 160, 184); font-size: small; font-family: 'Lucida Grande', sans-serif; opacity: 70%;"><a href="https://github.com/zukemon/nftgall" target="_blank" class="nav-link social-icons">DEMO APP | GITHUB REPOSITORY</a></h8>
    </div>

    <div id="viewer">
        <div id= projects>
            <div class="row">
                
                <div class="col-lg-4 col-md-12 top-buffer">
                <a href="/nft_naomi" target="_blank" rel="noopener">
                    <img src="/static/images/naomi.jpg" loading="lazy"></a>
                </div>
                    
                <div class="col-lg-4 col-md-6 top-buffer">
                    <a href="/nft_dem_say" target="_blank" rel="noopener">
                        <img src="/static/images/dem_say.jpg" loading="lazy"></a>
                </div>

                <div class="col-lg-4 col-md-6 top-buffer">
                    <a href="/nft_kilimanjaro" target="_blank" rel="noopener">
                        <img src="/static/images/kilimanjaro.jpg" loading="lazy"></a>
                </div>
            </div>
            
            <div class="row space">
                <div class="col-lg-4 col-md-12 top-buffer">
                <a href="/nft_closer" target="_blank" rel="noopener">
                    <img src="/static/images/closer.jpg" loading="lazy"></a>
                </div>
                    
                <div class="col-lg-4 col-md-6 top-buffer">
                    <a href="/static/images/" target="_blank" rel="noopener">
                        <img src="/static/images/img1.jpg" loading="lazy"></a>
                </div>

                <div class="col-lg-4 col-md-6 top-buffer">
                    <a href="/static/images/" target="_blank" rel="noopener">
                        <img src="/static/images/img1.jpg" loading="lazy"></a>
                </div>
            </div>
        </div>
    </div>


    <table class="table table-striped f_main" style="width:100%">
        

        <tfoot>
            <tr>
                <td colspan="3"></td>
                <td><b>{{ total }}</b></td>
            </tr>
        </tfoot>
        <tbody style="color: rgb(196, 207, 216);">
            {% for portfolio in purchases %}

            {% endfor %}
            <tr>
                <td colspan="3">BALANCE</td>
                <td>{{ cash }}</td>
            </tr>
        </tbody>
        <span class="" style="color: rgb(143, 160, 184); font-size: small; font-family: 'Lucida Grande', sans-serif; opacity: 70%;">Please note: using made up currency, Beta(ß) for demonstration purposes only.</span>
    </table>
    

{% endblock %}
