{% extends "layout.html" %}

{% block title %}
    Collections
{% endblock %}

{% block main %}
    <table class="table table-striped f_main" style="width:100%">
        <thead style="color: rgb(196, 207, 216);">
            <tr>
              <th>NFT</th>
              <th>Editions</th>
              <th>Price</th>
              <th>Time/ Date Stamp</th>
            </tr>
        </thead>

        
        <tbody style="color: rgb(196, 207, 216);">
            {% for portfolio in purchases %}
            <tr>
                <td>{{ portfolio.NFT }}</td>
                <td>{{ portfolio.edition }}</td>
                <td>{{ portfolio.price }}</td>
                <td>{{ portfolio.transacted }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="2">BALANCE</td>
                <td>{{ cash }}</td>
            </tr>
        </tbody>
        <span class="" style="color: rgb(143, 160, 184); font-size: small; font-family: 'Lucida Grande', sans-serif; opacity: 70%;">Please note: using made up currency, Beta(ß) for demonstration purposes only.</span>
    </table>

{% endblock %}
