{% extends "layout2.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}

<div class = "pss"><h8 class="" style="color: rgb(143, 160, 184); font-size: small; font-family: 'Lucida Grande', sans-serif; opacity: 70%;"><a href="https://github.com/zukemon/nftgall" target="_blank" class="nav-link social-icons">DEMO | GITHUB REPOSITORY LINK</a></h8></div>
    
    <form action="/register" method="post">
        <div class="form-group">
            <input style="text-align: center;" autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input style="text-align: center;" class="form-control password" name="password" placeholder="Password" type="password">
        </div>
        <div class="form-group">
            <input style="text-align: center;" class="form-control confirmation" name="confirmation" placeholder="Confirm Password" type="password">
        </div>
        <button class="btn btn-primary reg" type="submit">Register</button>
    </form>

    <script>

        document.querySelector('.reg').onclick = function(){
            var password = document.querySelector('.password').value;

            if(username == ""){
                alert("Fill in username.");
            }

        };
    </script>

{% endblock %}
